.display-panel.effect-fly-in .page.show .word {
    opacity: 0;
}


.display-panel.effect-fly-in .page.show .word.show {
    animation-name: effect-fly-in;
    animation-duration: .8s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.display-panel.effect-fly-out .page.hide .word.hide {
    animation-name: effect-fly-out;
    animation-duration: .8s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes effect-fly-in {
    0% {
        opacity: 0;
        transform: translateX(-50vw);
    }
    70% {
        opacity: .98;
        scale: 5;
        transform: translateX(.5vw);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes effect-fly-out {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
    30% {
        opacity: .98;
        scale: .5;
        transform: translateX(-2vw);
    }
    50% {
        opacity: .98;
        scale: .2;
        transform: translateX(-7vw);
    }
    70% {
        opacity: .5;
        scale: 3;
        transform: translateX(-2vw);
    }
    100% {
        opacity: 0;
        scale: 1;
        transform: translateX(2vw);
    }
}