
.cyberpunk-display-style.fingering-practiced {
    background-color: rgba(6, 8, 34, 1);
}

.cyberpunk-display-style .display-panel {
    justify-content: center;
    align-items: center;
    font-family: 'Cyberion';
}

.cyberpunk-display-style .display-panel .row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.6em;
}

.cyberpunk-display-style .display-panel .word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.3em;
    min-width: .5em;
    min-height: 1em;
    color: rgba(6, 8, 34, 1);
    text-shadow: 0em 0em .2em rgba(143, 164, 250, 1);
    -webkit-text-stroke: .02em rgba(143, 164, 250, 1);
}

.cyberpunk-display-style .display-panel .word::before {
    content: attr(data-word);
    display: flex;
    width: inherit;
    height: inherit;
    min-width: .5em;
    justify-content: center;
    align-items: center;
}

.cyberpunk-display-style .display-panel .word.complete::before {
    color: rgba(200, 200, 250, 1);
}

.cyberpunk-display-style .display-panel .word.active::before {
    animation-name: cyberpunk-active-word;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes cyberpunk-active-word {
    50% {
        color: rgba(143, 164, 250, 1);
        text-shadow: 0em 0em .2em rgba(143, 164, 250, 1);
        -webkit-text-stroke: .02em rgba(143, 164, 250, 1);
    }
}

.cyberpunk-display-style .display-panel .word.wrong-word::before {
    opacity: 0;
    animation-name: cyberpunk-hidein, cyberpunk-active-word;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards, none;
    animation-iteration-count: 1, infinite;
    animation-play-state: running, running;
    animation-delay: 0s, 1s;
}

.cyberpunk-display-style .wrong-word::after {
    content: attr(data-wrong-word);
    display: flex;
    position: absolute;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    opacity: 0;

    animation-name: terminal-shake, terminal-hideout;
    animation-duration: .6s, 1s;
    animation-fill-mode: none none;
    animation-timing-function: ease-in-out, linear;
    animation-delay: 0s, 0s;
    animation-fill-mode: none, none;
    animation-iteration-count: 1, 1;
    animation-play-state: running, running;
}

@keyframes cyberpunk-hideout {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cyberpunk-hidein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes terminal-shake { /* 震动 */
    10%, 90% { transform: translate3d(-.02em, 0, 0); }
    20%, 80% { transform: translate3d(+.04em, 0, 0); }
    30%, 70% { transform: translate3d(-.08em, 0, 0); }
    40%, 60% { transform: translate3d(+.08em, 0, 0); }
    50% { transform: translate3d(-.08em, 0, 0); }
}