
.display-panel.effect-lightflash-in .page.show .word {
    opacity: 0;
}

.display-panel.effect-lightflash-in .page.show .word.show {
    
    animation-name: effect-lightflash-in;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    /* animation-timing-function: steps(10, start), linear; */
}

.display-panel.effect-lightflash-in .page.show .word.showen {
    opacity: 1;
    
}

.display-panel.effect-lightflash-out .page.hide .word.hide {
    opacity: 1;
    animation-name: effect-lightflash-in;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: reverse;
    
}

.display-panel.effect-lightflash-out .page.hide .word.hiden {
    opacity: 0;
}

@keyframes effect-lightflash-in {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: .3;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: .9;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: .5;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}