@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.mac-style {
    font-family: 'Verdana', sans-serif;
    padding: .5em;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.3);
    background-color: #D3D3D3;
    width: 50em;
    border: solid 1px black;
    border-radius: .5em;
    margin: 0 auto;
}

.mac-style .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mac-style .key {
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    margin: .2em;
    Border-radius: .3em;
    background-color: black;
    color: white;
    box-shadow: .1em .1em .2em rgba(0, 0, 0, 0.7);
}

.mac-style .key .key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mac-style .key.highlight {
    background-color: green;
    border-color: green;
    color: white;
}

.mac-style .key.highlight::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: .2em;
    box-shadow: 0em 0em 0em 0em rgba(0, 255, 0, 0);

    animation-name: keyHighlight1;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mac-style .key.highlight::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: .2em;
    box-shadow: 0em 0em 0em 0em rgba(0, 255, 0, 0);

    animation-name: keyHighlight2;
    animation-duration: 4s;
    animation-delay: .8s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

@keyframes keyHighlight1 {
    65% {
        box-shadow: 0em 0em 0em 2em rgba(0, 255, 0, .3);
    }
    100% {
        box-shadow: 0em 0em 0em 3em rgba(0, 255, 0, 0);
    }
}

@keyframes keyHighlight2 {
    65% {
        box-shadow: 0em 0em 0em 1.8em rgba(0, 255, 0, .3);
    }
    100% {
        box-shadow: 0em 0em 0em 2.5em rgba(0, 255, 0, 0);
    }
}

.mac-style .key .key-label {
    display: flex;
    font-size: 1em;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.mac-style .key-label::after {
    content: attr(data-key);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transform: scale(1.1);
}

.mac-style .key-label::before {
    content: attr(data-subkey);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
}

.mac-style .key-special .key-label {
    height: auto;
}

.mac-style .key-special .key-label::after {
    transform: scale(.6);
    font-weight: bold;
}

.mac-style .key-shift {
    width: 7.3em;
}

.mac-style .key-backspace {
    width: 4.5em;
}

.mac-style .key-space {
    width: 32.3em;
}

.mac-style .key-enter {
    width: 6em;
}

.mac-style .key-tab {
    width: 4.5em;
}

.mac-style .key-capslock {
    width: 5em;
}

.mac-style .key-alt {
    width: 5em;
}