@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.mac-style {
    font-family: 'Verdana', sans-serif;
    padding: .5em;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, 0.3);
    background-color: silver;
    border: solid 1px silver;   
    border-radius: .2em;
}

.mac-style .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mac-style .key {
    display: flex;
    flex-direction: column;
    width: 2.9em;
    height: 2.9em;
    border-radius: .2em;
    color: white;
    margin: .1em .1em .1em .1em;
    background-color: black;
    box-shadow: .1em .1em .2em 0em rgba(0, 0, 0, 0.7);
}

.mac-style .key .key-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 100%;
    border-radius: .2em;
}

.mac-style .key.highlight .key-container {
    background-color: green;
    border-color: green;
    color: white;
}

.mac-style .key.highlight::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: .2em;
    box-shadow: 0em 0em 0em 0em rgba(192, 192, 192, 0);

    

    animation-name: mac-keyHighlight1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mac-style .key.highlight::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: .2em;
    box-shadow: 0em 0em 0em 0em rgba(192, 192, 192, 0);

    animation-name: mac-keyHighlight2;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.mac-style .key.highlight .key-container {
    background-color: green;
}

@keyframes mac-keyHighlight1 {
    65% {
        box-shadow: 0em 0em 0em 2em rgba(0, 255, 0, .3);
    }
    100% {
        box-shadow: 0em 0em 0em 3em rgba(0, 255, 0, 0);
    }
}

@keyframes mac-keyHighlight2 {
    65% {
        box-shadow: 0em 0em 0em 1.8em rgba(0, 255, 0, .3);
    }
    100% {
        box-shadow: 0em 0em 0em 2.5em rgba(0, 255, 0, 0);
    }
}

.mac-style .key .key-label {
    display: flex;
    font-size: 1em;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mac-style .key-label::after {
    content: attr(data-key);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.mac-style .key-label::before {
    content: attr(data-subkey);
    font-size: .6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .mac-style .key-special .key-label {

} */

.mac-style .key-special .key-label::after {
    transform: scale(.6);
    text-transform: none;
}

.mac-style .key-shift {
    width: 6.65em;
}

.mac-style .key-space {
    width: 28em;
}

.mac-style .key-enter, .mac-style .key-capslock {
    width: 5.1em;
}


.mac-style .key-tab, .mac-style .key-backspace {
    width: 4.2em;
}


.mac-style .key-alt {
    width: 5em;
}
