html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: 'Consolas', sans-serif;
    user-select: none;
}

.fingering-practiced {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
}

.display-panel {
    background-color: #FFFFF2;
    border-bottom: solid 1px black;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier', sans-serif;
}x

.display-panel .page {
    display: none;
}

.display-panel .page.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-panel .row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: dashed 1px #eee;
    height: 1.6em;
}

.display-panel .row:first-child {
    border-top: dashed 1px #eee;
}

.display-panel .word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.3em;
    width: .8em;
    margin: 0 .02em;
    border-radius: .1em;
    border: solid 1px #FFFFF2;
}

.display-panel .word.complete {
    background-color: #eee;
    border-color: #eee;
    color: black;
}

.display-panel .word.active {
    background-color: green;
    border-color: green;
    color: white;

    /* animation-name: wordflash, wordhighlight;
    animation-duration: .4s, .2s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, .4s;
    animation-fill-mode: none, forwards;
    animation-iteration-count: 1, 1;
    animation-play-state: paused; */
}

.wf-class1 {
    animation-name: wordflash, wordhighlight;
    animation-duration: .4s, .2s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, .4s;
    animation-fill-mode: none, forwards;
    animation-iteration-count: 1, 1;
    animation-play-state: running;
}

.wf-class2 {
    animation-name: wordflash, wordhighlight;
    animation-duration: .4s, .2s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, .4s;
    animation-fill-mode: none, forwards;
    animation-iteration-count: 1, 1;
    animation-play-state: running;
}

@keyframes wordflash {
    50% {
        background-color: white;
        border-color: white;
        color: black;
    }
}

@keyframes wordhighlight { 
    100% {
        background-color: #F08080;
        border-color: red;
        color: white;
    }
}
    
.keyboard {
    font-family: 'Verdana', sans-serif;
    padding: .5em;
    width: 100vw;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0em -.1em .5em rgba(0, 0, 0, 0.3);
    background-color: #D3D3D3;
}

.keyboard .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.keyboard .key {
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    margin: .2em;
    Border-radius: .3em;
    background-color: black;
    color: white;
    box-shadow: .1em .1em .2em rgba(0, 0, 0, 0.7);
}

.keyboard .key.highlight {
    background-color: green;
    border-color: green;
    color: white;
}

.keyboard .key .key-label {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    justify-content: center;
}

.keyboard .key-special .key-label {
    font-size: .15em;
    font-weight: bold;
    height: auto;
}

.keyboard .key .sub-key-label {
    width: 100%;
    height: 30%;
    flex: 0;
    text-align: center;
    font-size: .8em;
    justify-content: center;
}

.keyboard .key-shift {
    width: 7.3em;
}

.keyboard .key-backspace {
    width: 4.5em;
}

.keyboard .key-space {
    width: 32.3em;
}

.keyboard .key-enter {
    width: 6em;
}

.keyboard .key-tab {
    width: 4.5em;
}

.keyboard .key-capslock {
    width: 5em;
}

.keyboard .key-alt {
    width: 5em;
}